{% extends "skus/base.html" %}

{% block title %}
    Search by sku
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-list nav-pills nav-stacked" style="font-size: 18px;">
                            <li>
                                <a href="#"><i class="icon-home icon-white"></i><strong>Home</strong></a>
                            </li>
                            <li>
                                <a href="{% url 'search_by_spu' %}"><i class="icon-book"></i><strong>Search by
                                    SPU</strong></a>
                            </li>
                            <li class="active">
                                <a href="{% url 'search_by_sku' %}"><i class="icon-pencil"></i><strong>Search By
                                    SKU</strong></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-10">
                        <div class="row">
                            <form class="form-inline">
                                {% csrf_token %}
                                <label>Shop Name</label>
                                <select class="form-control" id="shopname">
                                    {% for shop in shops %}
                                        <option>{{ shop.shop }}</option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="item">item</label>
                                    <input type="text" class="form-control" id="item" style="width: 350px;">
                                    <button type="button" class="btn btn-success" id="serach_skus">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="row" style="margin-top: 10px;" id="sku_info">
                            {#     sku信息    #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#serach_skus").click(function () {
            $.ajax({
                url: "{% url 'search_by_sku' %}",
                type: 'post',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    shopname: $("#shopname").val(),
                    item: $("#item").val(),
                },
                success: function (data) {
                    $("#sku_info").html(data);
                }
            })
        });
    </script>
{% endblock %}